.livros {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px;
}

.livro {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--amarelo);
}

.livro__conteudo {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.livro__bloco-img, .livro__bloco-descricao {
    width: 50%;
}

.livro__bloco-descricao {
    margin-left: 10px;
}

.livro__img {
    width: 100%;
}

.livro__titulo {
    font-size: 16px;
    margin-bottom: 16px;
}