.livros {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px;
}

.livro {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--amarelo);
}

.livro__conteudo {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.livro__bloco-img {
    width: 40%;
}

.livro__bloco-descricao {
    width: 60%;
    margin-left: 10px;
}

.livro__img {
    width: 100%;
}

.livro__titulo {
    text-align: start;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}

.livro__preco {
    margin-top: 30px;
    font-size: 20px;
}