.valor__total {
    width: 100%;
    margin-bottom: 8px;
}

.livros__disponiveis {
    padding: 8px 3px;
    background-color: var(--laranja);
}

.valor__total-descricao {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/*---------------------------------------------===================================================--------------------------------------------*/
/*-------------------------------------------------= ***---RESPONSIVIDADE VALOR TOTAL---**** =------------------------------------------------*/
/*---------------------------------------------===================================================--------------------------------------------*/


@media screen and (min-width: 844px) {
    .livros__disponiveis { padding: 16px 5px;}

}